*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
  font-family: "Roboto", serif;
  font-size: 16px;
  width: 100vw;
  min-height: 100vh;
}

nav{
    width: 100%;
    height: 50px;
    background-color: rgb(4, 4, 82);

}

.Container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;

}

.logo-section{
    display: flex;
    align-items: center;
}

.logo span {
    color:#fff ;
    font-size: 2rem;
    margin-right: 2rem;
}

.logo-title a {
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    
}

.main-manu{
    display: flex;
    margin-left: 2rem;
    align-items: center;
    
}



.main-manu a{
    display: inline-block;
    margin-right: 2rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.main-manu a:hover{
    text-decoration: underline;
    color: orange;
}

.right-manu {
    display: flex;
    align-items: center;
    margin-left: auto;
    
}

.right-manu a{
    display: inline-block;
    color: #fff;
    margin-right: 2rem;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

.right-manu:hover{
    text-decoration: underline;
    color: orange;
}

button{
    background-color: transparent;
    border: none;
}

.right-manu button span{
    color: #fff;
    font-size: 2rem;
}
 .dropdown {
    position: relative;
}

.dropdown .dropdown-1 {
    position: absolute;
    right: 0;
    background-color: #fff;
    box-shadow: 0ps 4ps 8ps 0ps rgba(0, 0,0,0.2);
    width: 200px;
    border-radius: 0.15rem;
    display: none;
}

.dropdown:hover .dropdown-1{
    display: block;
}

.dropdown-ul{
    list-style-type: none;
}

.dropdown-list{
    text-align: left;
    margin: 1rem 1.5rem;
}

.dropdown-list a{
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-color: beige;
}

.dropdown-list a:hover{
    background-color: #ddd;
}

.divider {
    border: none;
    border-bottom: 1px solid #ddd;
}

.mega-manu-1{
    position: relative;
    padding: 1rem 0;
}

.Container-1{
    background-color:#ddd;
    position: absolute;
    width: 600px;
    min-height: 400px;
    top: 100%;
    display: none;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);

}


.mega-manu-1:hover .Container-1{
    display: block;
}

.box-item{
    display: flex;
    gap: 2rem;
}
.Box{
    width: 200px;
    height: 200px;
    
    
}

.a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle();



} 

.b img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.c img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
